{% load staticfiles %}

<html>
    <head>
      <title>Change Their Story</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
      <div class="page-header">
  <h1><a href="/">Change Their Story</a></h1>
</div>

     <div class="col-sm-10">
   <div class="content container">
       <div class="row">
           <div class="col-md-8">
           {% block content %}
           {% endblock %}
           </div>
       </div>
   </div>
    </body>
    <footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="/">Home</a></p>
		</div>
	</footer>
</html>
