{% extends 'blog/base.html' %}

<div class="page-header">
  {% if user.is_authenticated %}
  <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
  {% endif %}
<h1><a href="/">Change Their Story</a></h1>
</div>
{% block content %}
<!-- Great, til you resize. -->
<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->

<div class="row">
		  <div class="col-sm-3">
		  <br>

		  <br>
  <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
 <ul class="nav nav-pills nav-stacked">
 <li><a href='/'>Blog</a></li>
 <li><a href='/location/'>Where We Work</a></li>
 <li><a href='/helping_us/'>Helping Us</a></li>
 </ul>
</div> <!--well bs-sidebar affix-->
</div> <!--col-sm-2-->

<div>
  <h2><a>Blog Posts</a></h2>
</div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}
